body {
   font-family: Arial;
   background-color: #FFD29D;
   margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 150px auto;
}

.header{
    justify-self: center;
    align-self: center;
}

.post-list {
   display: grid;
   grid-template-columns: repeat(3, minmax(100px, 250px));
   justify-content: center;
   grid-gap: 20px;
}

.post {
  cursor: pointer;
  position: relative;
  display: block;
}

.post-image {
  margin: 0;
}

.post-image img {
  width: 100%;
  vertical-align: top;
  border-radius: 15px;
}

.post-overlay {
  background: rgba(0,0,0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.post:hover .post-overlay {
  display: flex;
}

.post-likes,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-rows: 100px auto;
    }

    .post-list {
        grid-template-columns: 1fr 1fr;
        padding: 0px 3px;
        grid-gap: 3px;
    }

    .post-image img {
        border-radius: 10px;
      }

    .post-overlay {
        border-radius: 10px;
      }
}

@media screen and (max-width: 500px) {
    .post-list {
        grid-template-columns: 1fr;
        /* padding: 0px 3px;
        grid-gap: 3px; */
    }
}